@import-normalize;

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;
}

ul,
li,
a,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

body {
    background: rgb(243, 247, 250);
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 800px;

    @media(max-width: 321px) {
        padding: 0 10px;
    }
}

.wrapper {
    display: flex;
    gap: 15px;

    @media(max-width: 321px) {
        flex-direction: column;
    }

    @media(max-width: 768px) {
        flex-direction: column;
    }
}

.cards {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}